.userProfile_container {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;

    margin: .8em .8em .8em 0;
    border-radius: 0 16px 16px 0;

    background-color: white;
    
    /*
    box-shadow: -5px 5px 8px gainsboro;
    background: rgb(220,241,255);
    background: linear-gradient(45deg, rgba(220,241,255,1) 0%, rgba(222,230,255,1) 30%, rgba(250,234,255,1) 70%, rgba(220,241,255,1) 100%);
    */
    display: grid;
    grid-template-rows: 30% 30% 40%;
}

.fullUserInfos {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    padding: 1em;
    /*font-family:Arial, Helvetica, sans-serif;*/
    line-height: 0.5em;
    font-size: .8em;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
}
/*.userPicture_container {
    width: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .profilePicture {
        width: 9em;
        height: 12em;
        object-fit: cover;
        border-radius: 5%;
        box-shadow: -5px 5px 8px gainsboro;
        align-self: center;
    }
*/

.userSessionsRecap {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.userStats {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
